<h1 align="center" class="jp-toc-ignore" style="color: LightSeaGreen">Coder Mê Tài Chính</h1>

---
<table width="100%" style="border:0px;">
    <tr style="font-size: 14pt">
        <td><b>Evangelist:</b> Lê Minh Đạt</td>
        <td><b>Email:</b> <a href="mailto:sirminhdat@gmail.com">sirminhdat@gmail.com</a></td>
        <td><b>Zalo:</b> 0919 564 515</td>
    </tr>
</table>

<center><h1 class="jp-toc-ignore"><b>Python For Finance (Py4Fin)</b></h1></center>

<center>
    <h2 style="margin-bottom:0px;" class="jp-toc-ignore">BÀI 7</h2>
    <h1 style="color: Crimson; margin-top:10px;">Các Cách Tính Return Trong Tài Chính</h1>
</center>

**Nội dung:**
1. Cumulative Return
   - Holding Period Return (HPR)
   - Time-Weighted Rate of Return (TWR)
2. Sự khác nhau giữa prod() và cumprod()
3. Tại sao phải cộng 1 và trừ 1 khi tính cumulative return
4. Annualized Return
   - Nếu biết tỷ suất lợi nhuận hàng năm trong suốt thời gian đầu tư
   - Nếu biết cumulative return
   - Nếu biết giá trị ban đầu và cuối cùng của khoản đầu tư
   - So sánh các khoản đầu tư
5. Average Return

---

In [31]:
import pandas as pd
import numpy as np

<h2 style="color: blue">1. Cumulative Return</h2>

<h3 style="color: blue">1.1. Holding Period Return (HPR)</h3>

Holding Period Return cho biết tác động của việc thay đổi giá đối với giá trị khoản đầu tư kể từ thời điểm nó được mua. Hay nói cách khác, là tổng phần trăm mà khoản đầu tư đã thu được (gain) hoặc bị mất (loss) theo thời gian, không phụ thuộc vào khoảng thời gian liên quan.

$$
\large HPR = \frac{P_{current} - P_{original}}{P_{original}} \times 100 = \biggl(\frac{P_{current}}{P_{original}} - 1\biggr) \times 100
$$

$$
\large HPR = ln\biggl(\frac{P_{current}}{P_{original}}\biggr) \times 100
$$

In [32]:
df = pd.read_csv("data/stock/FPT.csv")
df

            date    close     open      high      low
0     16/01/2024  95100.0  95400.0  102000.0  94400.0
1     15/01/2024  95400.0  95000.0   95900.0  94900.0
2     12/01/2024  94700.0  94800.0   95600.0  94100.0
3     11/01/2024  95000.0  94700.0   95400.0  94700.0
4     10/01/2024  94700.0  96700.0   96900.0  94500.0
...          ...      ...      ...       ...      ...
2253  09/01/2015  12072.7  11972.7   12122.7  11972.7
2254  08/01/2015  11972.7  12072.7   12097.7  11947.7
2255  07/01/2015  12097.7  12022.7   12272.6  12022.7
2256  06/01/2015  12022.7  11872.7   12022.7  11822.7
2257  05/01/2015  11947.7  11997.7   12047.7  11897.7

[2258 rows x 5 columns]

In [33]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True) # format="%d/%m/%Y"
df.set_index('date', inplace=True)
df.sort_index(inplace=True)
df

              close     open      high      low
date
2015-01-05  11947.7  11997.7   12047.7  11897.7
2015-01-06  12022.7  11872.7   12022.7  11822.7
2015-01-07  12097.7  12022.7   12272.6  12022.7
2015-01-08  11972.7  12072.7   12097.7  11947.7
2015-01-09  12072.7  11972.7   12122.7  11972.7
...             ...      ...       ...      ...
2024-01-10  94700.0  96700.0   96900.0  94500.0
2024-01-11  95000.0  94700.0   95400.0  94700.0
2024-01-12  94700.0  94800.0   95600.0  94100.0
2024-01-15  95400.0  95000.0   95900.0  94900.0
2024-01-16  95100.0  95400.0  102000.0  94400.0

[2258 rows x 4 columns]

**Ví dụ:**

Mua cổ phiếu FPT và nắm giữ từ ngày 04.01.2022. Hỏi, đến ngày 02.01.2024 thì khoản đầu tư này mang lại lợi nhuận bao nhiêu?

In [34]:
# df1 = df.query("index >= '2022-01-04' & index <= '2024-01-02'")[['Close']]
df1 = df.query("'2022-01-04' <= index <= '2024-01-02'")[['close']]
df1

              close
date
2022-01-04  77021.0
2022-01-05  77103.0
2022-01-06  77021.0
2022-01-07  76939.0
2022-01-10  75785.0
...             ...
2023-12-26  97200.0
2023-12-27  96900.0
2023-12-28  96600.0
2023-12-29  96100.0
2024-01-02  95900.0

[499 rows x 1 columns]

In [35]:
p_ori = df1['close'].loc['2022-01-04']
p_cur = df1.loc['2024-01-02']['close']
print(p_ori, p_cur)

77021.0 95900.0

In [36]:
p_ori = df1['close'].iloc[0]
p_cur = df1.iloc[-1]['close']
print(p_ori, p_cur)

77021.0 95900.0

In [37]:
hpr = ((p_cur - p_ori) / p_ori) * 100 # (p_cur / p_ori) - 1
print(f"HPR = {hpr:.2f}%")

HPR = 24.51%

In [38]:
hpr_log = np.log(p_cur / p_ori) * 100 # np.log là log cơ số e
print(f"HPR Log = {hpr_log:.2f}%")

HPR Log = 21.92%

<h3 style="color: blue">1.2. Time-Weighted Rate of Return (TWR)</h3>

$$
\large TWR = \biggl[(1+HPR_1)\times(1+HPR_2)\times...\times(1+HPR_n)\biggr] - 1
$$

<h4>1.2.1. Daily Return</h4>

In [54]:
daily_df = df[['close']].copy()
daily_df

              close
date
2015-01-05  11947.7
2015-01-06  12022.7
2015-01-07  12097.7
2015-01-08  11972.7
2015-01-09  12072.7
...             ...
2024-01-10  94700.0
2024-01-11  95000.0
2024-01-12  94700.0
2024-01-15  95400.0
2024-01-16  95100.0

[2258 rows x 1 columns]

In [55]:
daily_df['return'] = daily_df['close']/daily_df['close'].shift(1) - 1
# daily_df['return'] = daily_df['close'].pct_change()
daily_df

              close    return
date
2015-01-05  11947.7       NaN
2015-01-06  12022.7  0.006277
2015-01-07  12097.7  0.006238
2015-01-08  11972.7 -0.010333
2015-01-09  12072.7  0.008352
...             ...       ...
2024-01-10  94700.0 -0.019669
2024-01-11  95000.0  0.003168
2024-01-12  94700.0 -0.003158
2024-01-15  95400.0  0.007392
2024-01-16  95100.0 -0.003145

[2258 rows x 2 columns]

In [56]:
daily_df.dropna(inplace=True)
daily_df

              close    return
date
2015-01-06  12022.7  0.006277
2015-01-07  12097.7  0.006238
2015-01-08  11972.7 -0.010333
2015-01-09  12072.7  0.008352
2015-01-12  12147.6  0.006204
...             ...       ...
2024-01-10  94700.0 -0.019669
2024-01-11  95000.0  0.003168
2024-01-12  94700.0 -0.003158
2024-01-15  95400.0  0.007392
2024-01-16  95100.0 -0.003145

[2257 rows x 2 columns]

In [57]:
daily_twr = (1 + daily_df['return']).prod() - 1
print(f"Daily TWR = {(daily_twr * 100):.2f}%")

Daily TWR = 695.97%

<h4>1.2.2. Monthly Return</h4>

In [ ]:
## Rule of Resample
# B       business day frequency
# C       custom business day frequency (experimental)
# D       calendar day frequency
# W       weekly frequency
# M       month end frequency
# SM      semi-month end frequency (15th and end of month)
# BM      business month end frequency
# CBM     custom business month end frequency
# MS      month start frequency
# SMS     semi-month start frequency (1st and 15th)
# BMS     business month start frequency
# CBMS    custom business month start frequency
# Q       quarter end frequency
# BQ      business quarter endfrequency
# QS      quarter start frequency
# BQS     business quarter start frequency
# A       year end frequency
# BA      business year end frequency
# AS      year start frequency
# BAS     business year start frequency
# BH      business hour frequency
# H       hourly frequency
# T       minutely frequency
# S       secondly frequency
# L       milliseonds
# U       microseconds
# N       nanoseconds

In [64]:
monthly_df = df.resample('M').aggregate({'close': 'last'}).iloc[0:-1]
# monthly_df = df.resample('M').last().iloc[0:-1]
monthly_df

              close
date
2015-01-31  11872.7
2015-02-28  12197.6
2015-03-31  12097.7
2015-04-30  12872.5
2015-05-31  13186.2
...             ...
2023-08-31  96700.0
2023-09-30  92800.0
2023-10-31  83000.0
2023-11-30  91900.0
2023-12-31  96100.0

[108 rows x 1 columns]

In [65]:
monthly_df['return'] = monthly_df['close']/monthly_df['close'].shift(1) - 1
monthly_df

              close    return
date
2015-01-31  11872.7       NaN
2015-02-28  12197.6  0.027365
2015-03-31  12097.7 -0.008190
2015-04-30  12872.5  0.064045
2015-05-31  13186.2  0.024370
...             ...       ...
2023-08-31  96700.0  0.129673
2023-09-30  92800.0 -0.040331
2023-10-31  83000.0 -0.105603
2023-11-30  91900.0  0.107229
2023-12-31  96100.0  0.045702

[108 rows x 2 columns]

In [66]:
monthly_df.dropna(inplace=True)
monthly_df

              close    return
date
2015-02-28  12197.6  0.027365
2015-03-31  12097.7 -0.008190
2015-04-30  12872.5  0.064045
2015-05-31  13186.2  0.024370
2015-06-30  13596.4  0.031108
...             ...       ...
2023-08-31  96700.0  0.129673
2023-09-30  92800.0 -0.040331
2023-10-31  83000.0 -0.105603
2023-11-30  91900.0  0.107229
2023-12-31  96100.0  0.045702

[107 rows x 2 columns]

In [67]:
monthly_twr = (1 + monthly_df['return']).prod() - 1
print(f"Monthly TWR = {(monthly_twr * 100):.2f}%")

Monthly TWR = 709.42%

<h4>1.2.3. Yearly Return</h4>

In [69]:
yearly_df = df.resample('A').aggregate({'close': 'last'}).iloc[0:-1]
yearly_df

              close
date
2015-12-31  14463.5
2016-12-31  15852.0
2017-12-31  24656.5
2018-12-31  22000.1
2019-12-31  34708.9
2020-12-31  41516.2
2021-12-31  76609.0
2022-12-31  76900.0
2023-12-31  96100.0

In [71]:
yearly_df['return'] = yearly_df['close'].pct_change()
yearly_df.dropna(inplace=True)
yearly_df

              close    return
date
2017-12-31  24656.5  0.555419
2018-12-31  22000.1 -0.107736
2019-12-31  34708.9  0.577670
2020-12-31  41516.2  0.196125
2021-12-31  76609.0  0.845280
2022-12-31  76900.0  0.003799
2023-12-31  96100.0  0.249675

In [72]:
yearly_twr = (1 + yearly_df['return']).prod() - 1
print(f"Yearly TWR = {(yearly_twr * 100):.2f}%")

Yearly TWR = 506.23%

<h2 style="color: blue">2. Sự khác nhau giữa prod() và cumprod()</h2>

In [73]:
data = [0.10, 0.18, 0.20]
df5 = pd.DataFrame({'return': data})
df5

   return
0    0.10
1    0.18
2    0.20

In [74]:
1 + df5['return']

0    1.10
1    1.18
2    1.20
Name: return, dtype: float64

In [75]:
(1 + df5['return']).prod()

1.5576

In [76]:
(1 + df5['return']).cumprod()

0    1.1000
1    1.2980
2    1.5576
Name: return, dtype: float64

<h2 style="color: blue">3. Tại sao phải cộng 1 và trừ 1 khi tính cumulative return</h2>

In [ ]:
(1 + df5['return']).prod() - 1 # tạo sao cộng 1 và trừ 1?

In [77]:
# Yearly Return
R1 = 0.10
R2 = 0.18
R3 = 0.20

# Tiền vốn
ori_amount = 100 # 100 USD

cur_amount = ori_amount * (1 + R1) * (1 + R2) * (1 + R3)
cur_amount

155.76000000000002

In [78]:
cur_amount - ori_amount

55.76000000000002

In [79]:
ori_amount * (1 + R1) * (1 + R2) * (1 + R3) - ori_amount

55.76000000000002

In [80]:
ori_amount * ((1 + R1) * (1 + R2) * (1 + R3) - 1)

55.76000000000001

In [83]:
# ori_amount = 1 USD
((1 + R1) * (1 + R2) * (1 + R3) - 1)

0.5576000000000001

<h2 style="color: blue">4. Annualized Return</h2>

- Annualized Return còn có tên gọi khác là Compounded Annual Growth Rate (CAGR). Là khoản lợi nhuận hàng năm của khoản đầu tư dùng để phân tích lời/lỗ trong một khoảng thời gian có tính đến lãi kép.
- Annualized Return cho phép các nhà đầu tư so sánh các khoản đầu tư với các khoảng thời gian khác nhau.

<h3 style="color: blue">4.1. Nếu biết tỷ suất lợi nhuận hàng năm trong suốt thời gian đầu tư</h3>

$$
\large R_A=\biggl[ (1+R_1)\times(1+R_2)\times...\times(1+R_n) \biggr] ^{\frac{\displaystyle 1}{\displaystyle n}} - 1
$$

- $R_1$: annual return của năm 1
- $R_2$: annual return của năm 2...
- $n$: số năm

In [84]:
# Yearly Return
df6 = pd.DataFrame({'return': [0.10, 0.12, 0.21, -0.08, 0.15]})
n = df6.shape[0]

Ra = (1 + df6['return']).prod() ** (1/n) - 1
print(f"Annualized Return in {n} years: {(Ra * 100):.2f}%")

Annualized Return in 5 years: 9.54%

<h3 style="color: blue">4.2. Nếu biết cumulative return, thì annualized return có thể được tính trong một khoảng thời gian nhất định và thời gian đầu tư không cần phải tính bằng năm</h3>

$$
\large R_A=\biggl(1+R_C\biggr)^{\frac{\displaystyle 365}{\displaystyle m}} - 1
$$

- $R_C$: cummulative return
- $m$: số ngày nắm giữ

In [85]:
"""
Giả sử một nhà đầu tư nắm giữ khoản đầu tư trong 650 ngày và Cumulative Return là 15,75%. 
Hỏi Annualized Return sẽ là bao nhiêu?
"""
Rc = 15.75/100
m = 650
Ra = (1 + Rc) ** (365/m) - 1
print(f"Annualized Return in 650 days: {(Ra * 100):.2f}%")

Annualized Return in 650 days: 8.56%

<h3 style="color: blue">4.3. Nếu biết giá trị ban đầu và cuối cùng của khoản đầu tư</h3>

$$
\large R_A=\biggl(\frac{P_{end}}{P_{start}}\biggr)^{\frac{\displaystyle 1}{\displaystyle n}} - 1
$$

- $P_{start}$: Giá trị ban đầu của khoản đầu tư
- $P_{end}$: Giá trị cuối cùng của khoản đầu tư
- $n$: số năm

In [86]:
yearly_df

              close    return
date
2017-12-31  24656.5  0.555419
2018-12-31  22000.1 -0.107736
2019-12-31  34708.9  0.577670
2020-12-31  41516.2  0.196125
2021-12-31  76609.0  0.845280
2022-12-31  76900.0  0.003799
2023-12-31  96100.0  0.249675

In [87]:
n = yearly_df.shape[0]

Ra = (yearly_df.iloc[-1]['close']/yearly_df.iloc[0]['close']) ** (1/n) - 1
print(f"Annualized Return in {n} years: {(Ra * 100):.2f}%")

Annualized Return in 7 years: 21.45%

<h3 style="color: blue">4.4. So sánh các khoản đầu tư</h3>

In [88]:
"""
Liệu một khoản đầu tư X có lợi nhuận tích lũy trong 5 năm là 120% 
sẽ tốt hơn hay tệ hơn một khoản đầu tư Y có lợi nhuận tích lũy trong 10 năm là 275%?
"""
nX = 5
RcX = 120/100

nY = 10
RcY = 275/100

RaX = (1 + RcX) ** (1/nX) - 1
RaY = (1 + RcY) ** (1/nY) - 1

print(f"RaX = {(RaX * 100):.4f}% | RaY = {(RaY * 100):.4f}%")

RaX = 17.0805% | RaY = 14.1309%

<h2 style="color: blue">5. Average Return</h2>

Là quá trình cộng tất cả lợi nhuận hàng năm lại với nhau rồi chia tổng cho số năm mà khoản đầu tư đang được phân tích, không có tính chất lãi kép.

$$
\large R_{avg}=\frac{1}{n}\large\sum_{i=1}^{n} R_i
$$

In [90]:
df6

   return
0    0.10
1    0.12
2    0.21
3   -0.08
4    0.15

In [91]:
n = df6.shape[0]
avg_return = df6['return'].mean()
print(f"Average Return in {n} years: {(avg_return * 100):.2f}%")

Average Return in 5 years: 10.00%